nav {
    background-color: #79E0EE;
    padding: 20px;
}
.columna{
    background-color: #DB005B;
    color: #FFF7D4;
    padding: 25px;
    width: 25%;
    margin: 10px;
}
.padre{
    display: flex;
}